.v-card-main-rounded{
  border-radius: 18px;
}

.v-dialog-login{
  border-radius: 18px;
  color: white;
}

.Oval {
  width: 22px;
  height: 22px;
  opacity: 0.43;
  background-color: #d5b9e6;
}

.btn-grad {background-image: linear-gradient( to right, #27269c 5%, #e005c5 51%, #e005c5 100%)}
